/* which version are we using  */

/* I don't like */

/* I love it */

/* It is all about remembering classes names */

/* Should I work with it */

/*  It is too easy */

/* I want to use only Css not frameworks */

/* Smart copy */

/* Download Bootstrap */

/* Over right some styles */

/* Font 
google fonts */

/* Even more easier https://bootswatch.com/ */

div {
  border: 2px solid black;
}
#box1 {
  background-color: pink;
}
.fas {
  font-size: 5rem;
}
