main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5rem 5rem;
  grid-template-areas: "box1 box3 box2" "box1 box3 box2" "box4 . box5";
  row-gap: 3rem;
  column-gap: 3rem;
}

.box1 {
  background-color: green;
  grid-area: box1;
}

.box2 {
  background-color: gray;
  grid-area: box2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 {
  background-image: url(../img/nature.jpeg);
  background-size: cover;
  grid-area: box3;
}

.box4 {
  background-color: pink;
  grid-area: box4;
}

.box5 {
  background-color: red;
  grid-area: box5;
}
