/*adding flying clouds to build a Sky App*/
.my-div {
  background-image: url(../img/birds-flying-gif-8.gif),
    url(../img/clouds-moving.gif), url(../img/clear-sky.jpeg);
  /*you can have each applying to each image --- if you just mention one, it will apply the same to all images:*/
  background-repeat: no-repeat;
  background-size: cover;
  
}

.my-div p {
  font-size: 40px;
}
