$my-color: rgba(41, 61, 82, 0.541);
$box-size: 30px;
$box-color: pink;
$colors: (
  nice: red,
  cool: black,
  fun: rgb(107, 105, 105),
  light: white,
  yellow: yellow,
  pink: salmon,
  blue: blue,
  purple: purple,
);
