/* more var */

/* flex-box */
/* flex-direction */
.daddy {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  /* align-items: stretch; */ /*stretch only works if you haven't specified a height to the affected child element*/
  align-items: center;
  flex-wrap: wrap;
  /* align-content: flex-end; this one is only in combination with flex-wrap, it will controll how they will wrap */
}

.baby1 {
  background: radial-gradient(green, yellow, red);
  width: 250px;
  height: 250px;
  align-self: flex-end;
  order: 4;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.baby2 {
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
  flex: 1 1 22%;

  /*the shorthand flex encapsulates the following three properties*/
  /* flex-grow: ;
  flex-shrink: ;
  flex-basis: ; */
}

.baby3 {
  background-color: green;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 3;
  flex: 1;
}

.baby4 {
  background-color: pink;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 3;
  flex: 1;
}

.page-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
}

nav {
  width: 25%;
  display: flex;
  background-color: rgba(136, 26, 136, 0.7);
  border: purple 2px solid;
}

.main {
  display: flex;
  background-color: hotpink;
  flex-direction: column-reverse;
}

section {
  border: 2px solid black;
}

.text-one {
  flex: 1;
}

/* flex-wrap */ /* flex-flow */ /* justify-content */ /* algin-items */
/* align-content */ /* vertical-align */ /* visibility */ /* z-index */
/* linear-gradient */ /* radialGradient */ /* transform - rotate()*/
/* transform - rotateX(),rotateY(),rotateZ()*/ /* transition */
/* border-image */
